<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-nankishirahama-001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ac651d2d-f748-48d2-9c25-04030a2fec4d/resourceGroups/2021-4Q-Nanki/providers/Microsoft.Web/sites/func-nankishirahama-001</ResourceId>
    <UserName>$func-nankishirahama-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://func-nankishirahama-001.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>